.navigation-section {
    background-color: #b6d094;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    border: solid 1px black;
    margin-bottom: 1px;
}

.menu li a {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: .6em 1em;
    transition: all .6s, linear;
    -webkit-transition: all .6s, linear;
    -moz-transition: all .6s, linear;
    -ms-transition: all .6s, linear;
    -o-transition: all .6s, linear;
}

.menu li a:hover {
	background: pink;
}



/*---------------------------------------------*/
/* Medium Viewports                            */
/*---------------------------------------------*/

@media screen and (min-width: 30em) {

    .menu ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu li {
        flex: 1 0 auto; /* streches li to edge of element */
        text-align: center;
    }
}



