
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.menu li {
    border: solid 1px black;
    margin-bottom: 1px;
}

.menu li a {
    width: 100%;
    text-decoration: none;
    color: white;
    padding: .6em 1em;
    transition: all .6s, linear;
    -webkit-transition: all .6s, linear;
    -moz-transition: all .6s, linear;
    -ms-transition: all .6s, linear;
    -o-transition: all .6s, linear;
}

.menu li a:hover {
	background: pink;
}

.header-nav {
    background-color: #b6d094;
}

.header-nav li a {
    display: flex;
}

.nav-button-subtext {
    display: block;
    font-size: 60%;
    font-weight: lighter;
}

.nav-icon {
    font-size: 1.8em;
    flex: 0 0 1.5em;
}

.footer-nav.menu a {
    display: flex;
    flex-flow: column;
}

/*---------------------------------------------*/
/* Medium Viewports                            */
/*---------------------------------------------*/


@media screen and (min-width: 30em) {

    .footer-nav.menu ul {
        display: flex;
        justify-content: space-between;
    }

    .footer-nav.menu li {
        flex: 1 0 auto; 
        text-align: center;
    }

    .footer-nav.menu a {
        flex-flow: row;
    }

    .header-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-nav li {
        display: flex;
        flex: 1 0 12em;
    }


}