/* Global Styles                              */
/* ------------------------------------------ */
html {
    margin: 0;
}

/* Navigation                                 */
/* ------------------------------------------ */


.banner {
    height: 150px;
    background-color: pink;
}

/* Main Content                               */
/* ------------------------------------------ */

.maincontent {
    background-color: green;
}

section {
    border: 1px solid white;
    background-color: black;
}

/* Footer Styles                              */
/* ------------------------------------------ */

.footer {
    background-color: purple;
}

